<h1 class="text-center">本当に退会しますか？</h1>
  <p class="size1">
    退会すると、会員登録情報や<br>
    これまでのマッチ履歴などが閲覧できなくなります。<br>
    退会する場合は、「退会する」をクリックしてください。
  </p>

  <div class="text-center">
    <%= render "layouts/button/blue_lt_button", blue_lt_btn: false %>
    <%= render "layouts/button/red_button", player: @player, red_btn: false %>
  </div>