<div class="container mt-5">
  <h2 class="text-center mb-5 admin-title", style="font-size:6em;">管理者ホーム</h2>
  <h2><%= link_to "投稿一覧", admin_posts_path, class:"admin-text" %></h2>
  <h2><%= link_to "会員一覧", admin_players_path, class:"admin-text" %></h2>
</div>

