@use '~bootstrap/scss/bootstrap';

.post_confirm{
  input{
    border: none;
  }
}

@charset "utf-8";

/*==================================================
スライダーのためのcss
===================================*/
.slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
  width:94%;
    margin:0 50px;
}

.slider img {
    width:80%;/*スライダー内の画像を横幅100%に*/
    height:auto;
}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.slider .slick-slide {
    margin:0 10px;
}

/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev,
.slick-next {
    position: absolute;/*絶対配置にする*/
    top: 42%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #666;/*矢印の色*/
    border-right: 2px solid #666;/*矢印の色*/
    height: 15px;
    width: 15px;
}

.slick-prev {/*戻る矢印の位置と形状*/
    left: -1.5%;
    transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
    right: -1.5%;
    transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
    text-align:center;
  margin:20px 0 0 0;
}

.slick-dots li {
    display:inline-block;
  margin:0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width:8px;/*ドットボタンのサイズ*/
    height:8px;/*ドットボタンのサイズ*/
    display:block;
    border-radius:50%;
    background:#ccc;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
    background:#333;/*ドットボタンの現在地表示の色*/
}


/*========= レイアウトのためのCSS ===============*/

body{
  background:#eee;
}

.admin-title {
  line-height: 1.4;/*行高*/
}

.admin-title:before, .admin-title:after {
  position: relative;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: inline-block;
  font-size: 1.0em;
  color: #ff6a6a;
}
.admin-title:before {
  content:"\f053";/*アイコン種類*/
  padding-right: 0.5em
}
.admin-title:after {
  content:"\f054";/*アイコン種類*/
  padding-left: 0.5em
}

h2,p {
    text-align:center;
    padding:20px;
}

ul{
  margin:0;
  padding: 0;
  list-style: none;
}

a{
  color: #333;
}

a:hover,
a:active{
  text-decoration: none;
}

.size{
  font-size:7em; /*1.5倍にする*/
}

.size1{
  font-size:3em;
}

.icon_layers{
	min-width: 3em;
    position: relative;
    vertical-align: middle;
	text-align: center;
}

.icon_layers2{
  margin-left: 80px;
}

.icon_layers3{
  margin-left: 300px;
  margin-right: 50px;
}

.icon_layers4{
  margin-left: 100px;
}

.icon_layers5{
  margin: auto;
}

.icon_layers_text{
	top: 1em;
	min-width: 100%;
	font-size: 2em;
}

.icon_layers_text2{
	font-size: 2em;
	margin-left: 150px;
}

.icon_layers_text6{
	font-size: 2em;
  margin-left: 140px;
}

.icon_layers_text4{
	font-size: 2em;
	margin-left: 180px;
}

.icon_layers_text5{
	font-size: 2em;
	margin-left: 150px;
}

.icon_layers_text3{
  margin-right: 500px;
  font-size: 3em;
}

.submit_center{
  text-align: center;
}

.my_post{
  margin-left: 100px;
  font-size: 2em;
}

.my_post2{
  margin-left: 210px;
  font-size: 2em;
}

.my_post3{
  margin-left: 80px;
  font-size: 2em;
}

.tension{
  justify-content: space-between; /* 要素間のスペースを均等に分配 */
  margin: 0 150px; /* 任意のマージンを指定 */
}

.notice{
  background-color: #8EB8FF;
  font-size: 2em;
  text-align: center;
}

.alert2{
  background-color: #FFABCE;
  font-size: 2em;
  text-align: center;
}

.admin-text{
  font-size: 2.5em;
}

li {
  list-style:none;
}