<footer class="footer">
  <div class="container mt-5 border-top">
    <div class="row">
      <p class="mx-auto font-weight-bolder" style="font-family: 'OCRB'">CopyRight Taiki Takemoto</p>
    </div>
  </div>
</footer>